#map{
    background-image: url('../images/unique-design/bg-unique-design.jpg');
    h3{
      position: relative;
    }
    h3:after{
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50px;
      height: 2px;
      transform: translateX(-50%);
      background: #f38181;
    }
  }