.navcolor {
  background: rgba(241, 114, 114, 0.96);
}
#navbar {
  .container {
    .navbar-brand {
      font-size: 30px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Montserrat";
    }
    .nav-link {
      color: white;
      padding-bottom: 5px;
      padding-top: 0;
    }
    li{
        width: fit-content;
    }
    .nav-link.active {
        color: #fce38a !important;
        border-bottom: 1px solid #fce38a;
    }
    color: #fce38a;
    // padding-bottom: 0.8rem;

    i {
      color: white;
      margin: auto 0.2rem;
    }
  }
}
