#ourteam{

    .nav-link{
      color: #f38181;
      background: #fce38a;
      margin: 0 1px;
    }
  .row{
  h3{
        margin-top: 1.5rem;
        font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
      
    }
    small{
      font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
    }}
  }